


.event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.event:hover {
    cursor: pointer;
    background-color: #361e66;
    border-radius: 6px;
}

p {
    margin:0;
    margin-top: 3px;
    padding: 0;
}

.event {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px;
}

.all-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
    margin-top: 5rem;
}

.interest-list {
    display: flex;
    flex-direction: row;
}

.interest-paragraph {
    padding: 3px;
}

.back-btn {
    background-color: inherit;
    color: white;
    border: none;
}

.back-del-wrapper :first-child {
    margin-right: 3em;
}

.delete-btn {
    background-color: #361e66;
    color: white;
}